@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript">

        //document.body.style.setProperty("--opendealerrankimgurl", "url(./img/suit2/cardback.png)")

        //document.body.style.setProperty("--opendealersuitimgurl", "url(./img/suit2/suit2heartB.jpg)")

        //document.body.style.setProperty("--openplayerrankimgurl", "url(./img/suit2/A.png)")

        //document.body.style.setProperty("--openplayersuitimgurl", "url(./img/suit2/suit2diamondB.jpg)")

        //$(".subinnerrowtwocard").addClass("cardclose");
        //$(".subinnerrowthreecard").addClass("cardclose");
        //$(".subinnerrowtwobetsmall").addClass("bet");
        //$(".subinnerrowtwobetbig").addClass("bet");
        //$("#bidded").attr({ "disabled": "disabled" });
        //提示框屬性 data-toggle="tooltip" data-placement="top" title="Tooltip on top"


    </script>

}

<div class="jumbotron chjumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div class="row">
        <div class="col-12 dealer">
            <div id="dealertalk">
                <div class="textconsole">
                    123654原始文字是人類用來紀錄特定事物、簡化圖像而成的書寫符號。文字在發展早期都是圖畫形式的，有些是以形表意，有些是以形表音，其中有表意文字，與語音無甚關係，中國文字便是從此漸次演變而成。有些中文字可以從表面、部首、字旁看到一些聯繫旁通的字義。而這些特色是拼音文字所沒有的。
                </div>

            </div>

        </div>
        <div class="col-12 gametable">
            @*規化成4*12格*@
            @*第一列*@
            <div class="row pcard">
                <div class="col-1 rowonecard">
                    <div>
                        1
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        2
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        3
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div class="innerrowonecard">
                        @* 6 荷官花色 *@
                        <div id="dealersuitcard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div class="innerrowonecard">
                        @* 7 荷官點數 *@
                        <div id="dealerrankcard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        8
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        9
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        10
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        11
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        12
                    </div>
                </div>
            </div>
            @*第二列*@
            <div class="row pcard">
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetsmall">
                        Small<br> Both
                        <div class="subinnerrowtwobetsmall">

                        </div>

                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetsmall">
                        Small<br>  Suit
                        <div class="subinnerrowtwobetsmall">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetsmall">
                        Small<br>  Rank
                        <div class="subinnerrowtwobetsmall" >

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwocard">
                        @* 6 花色抽牌區 *@
                        <div class="subinnerrowtwocard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwocard">
                        @* 7 花色抽牌區 *@
                        <div class="subinnerrowtwocard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwocard">
                        @* 8 花色抽牌區 *@
                        <div class="subinnerrowtwocard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div>
                        9
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetbig">
                        Big<br> Both
                        <div class="subinnerrowtwobetbig" >

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetbig">
                        Big <br> Suit
                        <div class="subinnerrowtwobetbig">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetbig">
                        Big <br> Rank
                        <div class="subinnerrowtwobetbig">

                        </div>
                    </div>
                </div>
            </div>
            @*第三列*@
            <div class="row pcard">
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 1 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 2 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 3 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 4 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 5 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 6 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 7 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 8 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 9 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 10 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 11 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        @* 12 點數抽牌區 *@
                        <div class="subinnerrowthreecard">

                        </div>
                    </div>
                </div>
            </div>
            @*第四列*@
            <div class="row pcard">
                <div class="col-1 rowfourcard">
                    <div>
                        1
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        2
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        3
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div class="innerrowfourcard">
                        @* 6 玩家花色 *@
                        <div id="playersuitcard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div class="innerrowfourcard">
                        @* 7 玩家點數 *@
                        <div id="playerrankcard">

                        </div>
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        8
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        9
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        @* 10 派牌控制 *@
                        <button type="button" id="bidded" class="btn btn-primary biddedbtn">派牌</button>
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        11
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        12
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
