@{
    ViewBag.Title = "Home Page";
}
@section scripts {


}

<div class="jumbotron chjumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <div class="row">
        <div class="col-12 dealer">



        </div>
        <div class="col-12 gametable">
            @*規化成4*12格*@
            @*第一列*@
            <div class="row pcard">
                <div class="col-1 rowonecard">
                    <div>
                        1
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        2
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        3
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div class="innerrowonecard">
                        6
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div class="innerrowonecard">
                        7
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        8
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        9
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        10
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        11
                    </div>
                </div>
                <div class="col-1 rowonecard">
                    <div>
                        12
                    </div>
                </div>
            </div>
            @*第二列*@
            <div class="row pcard">
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetsmall">
                        Small
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetsmall">
                        Small<br>  Suit
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetsmall">
                        Small<br>  Rank
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwocard">
                        6
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwocard">
                        7
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwocard">
                        8
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div>
                        9
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetbig">
                        Big
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetbig">
                        Big <br> Suit
                    </div>
                </div>
                <div class="col-1 rowtwocard">
                    <div class="innerrowtwobetbig">
                        Big <br> Rank
                    </div>
                </div>
            </div>
            @*第三列*@
            <div class="row pcard">
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        1
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        2
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        3
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        4
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        5
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        6
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        7
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        8
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        9
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        10
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        11
                    </div>
                </div>
                <div class="col-1 rowthreecard">
                    <div class="innerrowthreecard">
                        12
                    </div>
                </div>
            </div>
            @*第四列*@
            <div class="row pcard">
                <div class="col-1 rowfourcard">
                    <div>
                        1
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        2
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        3
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        4
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        5
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div class="innerrowfourcard">
                        6
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div class="innerrowfourcard">
                        7
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        8
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        9
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        10
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        11
                    </div>
                </div>
                <div class="col-1 rowfourcard">
                    <div>
                        12
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-4">
                    <h2>Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>*@
